.App {
  text-align: center;
}

.logo img {
  height: 50px;
}

.navbar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #5c5959;
}

.navbarul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  margin: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: lightblue;
}

.active {
  color: lightblue;
}

.upload {
  margin-top: 50px;
}

.upload input {
  padding: 12px;
  background: lightblue;
  border-radius: 15px;
  outline: none;
}

.upload img {
  height: 200px;
}